/* Estilo general del fondo */
body {
    background-color: #f8f9fa;
  }
.custom-bg {
    background: linear-gradient(to bottom right, #052553, #52a2f3); /* azul oscuro a azul más claro */
    min-height: 100vh; /* que cubra toda la altura */
  }
  
  /* Estilo para la imagen de perfil */
  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid white;
  }
  
  /* Estilo para títulos de sección */
  .section-title {
    border-bottom: 2px solid #0d6efd;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
  }

  .glass-card {
    background: linear-gradient(145deg, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
  
    /* Relieve: sombra interna y externa */
    box-shadow: 
      inset 0 1px 2px rgba(255, 255, 255, 0.4), /* highlight superior */
      inset 0 -1px 2px rgba(0, 0, 0, 0.05),     /* sombra inferior interna */
      0 4px 20px rgba(0, 0, 0, 0.1);            /* sombra externa */
  
    color: #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /*margin-right: 2px; */
  }

  /* Efecto interactivo: brillo al pasar el mouse */
.glass-card:hover {
  transform: translateY(-4px);
  box-shadow: 
    inset 0 1px 2px rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.08),
    0 8px 24px rgba(0, 0, 0, 0.2);
}

.link-blanco {
  color: white;
  text-decoration: none; /* opcional: sin subrayado */
}

.link-blanco:hover {
  color: #ddd; /* color más claro al pasar el mouse */
}

.logo-html{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

.logo-java{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

.logo-css{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}


.logo-mysql{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

.logo-bootstrap{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

.logo-git{
  width: 100px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

.logo-aws{
  width: 150px;      /* ensancha la imagen */
  height: 100px;  /*mantiene proporcion */
}

  